body {
    background-color: rgb(94, 109, 145);
}

path {
    stroke: rgb(0, 0, 0);
    fill:rgb(92, 10, 60) !important;

    transition: fill .4s ease;
    transform-origin: center center;
}

path:hover {
    fill: rgb(35, 159, 204) !important;
    cursor: pointer;
    transform: scale(1.005, 1.005);
}

#map-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#us-map {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 75%;
}

#details-box {
    box-shadow: 0px 7px 40px rgba(0, 0, 0, 0.7);
    opacity: 0%;
    padding: 1rem;
    border-radius: 8px;
    font-size: 12px;
    position: fixed;
    color: white;
    font-family: "Poppins";
    background-color: rgba(0, 0, 0, 0.767);
    width: fit-content;
    transform: translateX(-50%);
    transition: opacity .4s ease;
    z-index: 1;
}